@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result_component {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 24px;
  border-radius: 30px 30px 0px 0px;
  #food-name{
    text-transform: capitalize;
  }
  .bodyy{
    max-height: 50vh;
    overflow: scroll;
  }
  header{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    h2{
      margin-left: 24px;
    }
  }
  .btnDone {
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 60px;
    background-color: #23a988;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 12px;
  }
}

nav {
  padding: 8px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
  }
  .right {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;
      li {
        margin-left: 24px;
        cursor: pointer;
      }
      li:hover {
        color: red;
      }
    }
  }
}
main {
  background-color: #d5f6ee;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .title {
  }
  #webcam-container {
    margin-top: 24px;
  }
  #label-container {
    margin: 24px 0;
    display: flex;
    border: 1px solid black;
    padding: 12px;
  }
}
#data-container {
  display: flex;
  flex-direction: column;

}
